<!DOCTYPE html>
<html>
  <%- partial('_head') %>
  <body>
    <%- partial('_header') %>
    <%- partial('_navigation') %>

    <div id="content-wrapper">
      <div class="inner clearfix">
      <%- yield %>
      <div class="mobile-indicator"></div>
      </div>
    </div>

    <%- partial('_footer') %>
    <%- partial('_googleAnalysis') %>
  </body>
</html>
