<section id="navigation">
<div class="dogeos-navigation">
  <ul>
    <li class="<%- current.source == 'index' ? 'active' : '' %>"><a href="index.html">About</a>
    <li class="<%- current.source == 'news' ? 'active' : '' %>"><a href="news.html">News</a>
    <li class="<%- current.source == 'doc' ? 'active' : '' %>"><a href="doc.html">Documentation</a>
    <li class="<%- current.source == 'download' ? 'active' : '' %>"><a href="download.html">Download</a>
    <li class="<%- current.source == 'contribute' ? 'active' : '' %>"><a href="contribute.html">Contribute</a>
    <li class="<%- current.source == 'support' ? 'active' : '' %>"><a href="support.html">Support</a>
  </ul>
</div>
</section>
